<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/img/rosas.gif" />
    <link rel="stylesheet" type="text/css" href="~/css/layout.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">Liebeslied</p>

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Main")</li>
                    <li>@Html.ActionLink("Servicios", "Servicios", "Main")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Main")</li>
                    @if (ViewBag.nombre != null)
                    {
                        <li>@Html.ActionLink("Buscar canción", "BusquedaCanciones", "Main")</li>
                    }
                </ul>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-right ">

                    @if (ViewBag.nombre != null)
                    {
                        <li id="saludoCuenta">Hola, @ViewBag.nombre</li>
                        <li>@Html.ActionLink("Mi Disco", "MiDisco", "Main")</li>
                        <li>@Html.ActionLink("Cerrar Sesión", "CierreSesion", "Main")</li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Main")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Liebeslied</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
