<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liebeslied: Música a tu manera</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/img/rosas.gif" />
    <link rel="stylesheet" type="text/css" href="~/css/layout.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">Liebeslied</p>

                <!--Barra de navegación-->
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Main")</li>
                    <li>@Html.ActionLink("Servicios", "Servicios", "Main")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Main")</li>
                </ul>

            </div>
            <div class="navbar-collapse collapse">

                <!--Parte derecha de la barra de navegación-->
                <ul class="navbar-right ">

                    @if (ViewBag.nombre != null)
                    {

                        <li id="saludoCuenta">Hola, @ViewBag.nombre</li>
                        <li><a href="~/Main/BusquedaCanciones"><img title="Buscar Canción" class="navImage" src="~/img/songSearch.png" /></a></li>
                        <li><a href="~/Main/MiDisco"><img title="Mi Disco" class="navImage" src="~/img/vinilo.png" /></a></li>
                        <li><a href="~/Main/CierreSesion"><img title="Salir" class="navImage" src="~/img/salir.png" /></a></li>
                    }

                    else
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Main")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - Liebeslied</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
