@model FFLiebeslied.Models.Song

@{
    ViewBag.Title = "CancionEncontrada";
    TempData["cancion"] = Model;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/cancionEncontrada.css" />
</head>

<h2>¿Es esta la canción que buscas?</h2>

<div id="contenedor">
    <h3 id="datosBasicosCancion">@Html.DisplayFor(model => model.Title) | @Html.DisplayFor(model => model.Author.Name)</h3>
    <hr />

    <div id="divCancion">
        <dl class="dl-horizontal">

            <dt>
                Album
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Disc)
            </dd>

            <dt>
                Género Principal
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                Precio
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price) €
            </dd>

            <dt>
                Letra
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lyrics)
            </dd>

        </dl>
    </div>

    <div id="divArtista">
        <dl class="dl-horizontal">

            <dt>
                Nombre del Artista
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.Name)
            </dd>

            <dt>
                País
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.Country)
            </dd>

            <dt>
                Puntuación
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.Rating)
            </dd>

        </dl>
    </div>

    <div id="pie">

        @Html.ActionLink("Guardar", "GuardarCancion", "Main" ) |
        @Html.ActionLink("Volver a buscar", "BusquedaCanciones", "Main")
    </div>
</div>