@model FFLiebeslied.Models.Order

@{
    ViewBag.Title = "Comprar";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/comprar.css" />
</head>

<body>
    <div id="contenedor">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div id="formHorizontal" class="form-horizontal">
            <h3>¡Ya casi está!</h3>
            <h4>Introduzca los siguientes datos del pedido para saber dónde mandarte el disco</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="centrarForm">
            <div class="form-group">
                <p>Dirección de Envío</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Código postal</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Ciudad</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Provincia</p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>País</p>
                <div class="col-md-10">

                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p id="labFormato">Formato</p>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Formato, new SelectList(ViewBag.formatos), new { htmlAttributes = new { @class = "form-control", id = "arr"} })
                    @Html.ValidationMessageFor(model => model.Formato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Comprar" class="btn btn-default" />
                </div>
            </div>
        </div>
   </div>
        }
    </div>
</body>