@model FFLiebeslied.Models.User

@{
    ViewBag.Title = "Login";
}

<head>
    <link type="text/css" rel="stylesheet" href="~/css/userRegister.css" />
</head>

<h2>Introduzca su nombre de usuario y contraseña para entrar a su cuenta</h2>
</hr>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <!--Username-->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Password-->
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña", type="password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Botones-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="reset" id="btnCancelar">Limpiar</button>
                <button type="submit" id="btnAceptar" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>

    @Html.ActionLink("¿No está registrado? Regístrese", "Register", "User", new { id = "login" });
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}